<div id="component">
    <header>
        <span id="pageTitle">{{pageTitle}}</span>
    </header>
    <main>
        <table class="table table-striped table-sm" *ngIf="employee">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="employee.id" readonly></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input [(ngModel)]="employee.name"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input [(ngModel)]="employee.email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input [(ngModel)]="employee.password" type="password"></td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/employee/list" class="btn btn-primary btn-sm">Back</a>
        <button (click)="save()" class="btn btn-success btn-sm">Save</button>
    </main>
</div>
