<div id="component">
    <header>
        <app-menubar></app-menubar>
        <span id="pageTitle">{{pageTitle}}</span>
        <span> | </span>
        <a routerLink="/order/create" class="">Create New</a>
    </header>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th>Customer Name</th>
                <th>Action?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                <td> {{o.id}}</td>
                <td>{{o.date | date}}</td>
                <td>{{o.description}}</td>
                <td>{{o.status}}</td>
                <td>{{o.total | currency}}</td>
                <td>{{o.customer?.name}}</td>
                <td>
                    <a routerLink="/order/detail/{{o.id}}">Detail</a> | 
                    <a routerLink="/order/change/{{o.id}}">Change</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
