<div id="component">
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>Email</td>
                <td><input [(ngModel)]="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input [(ngModel)]="password" type="password"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger fw-bold fst-italic">{{message}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="login()" class="btn btn-primary btn-sm">Login</button>
</div>